<section class="display_none3 fixed-top">
    <div class="container-fluid pt-3 pb-2 bg-body-tertiary">
        <div class="container ">

            <div class="row">
                <div class="col-md-3 col-lg-2 col-12">
                    <div class="d-flex align-items-center header_main">
                        <img src="../../assets/images/phone.png" alt="phone" width="20px" height="20px">
                        <span>
                            <a href="tel:9645423433">
                                <p class="top_header"> &nbsp;+91 9645423433</p>
                            </a>
                        </span>
                    </div>

                </div>
                <div class="col-md-4 col-lg-3 col-12">
                    <div class="d-flex  align-items-center header_main">
                        <img src="../../assets/images/Message_logo.png" alt="phone" width="17.92px" height="16.25px">
                        <span>
                            <a href="mailto:someone@example.com">
                                <p class="top_header">&nbsp; bluejewellery@gmail.com</p>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-md-5 col-lg-7 col-12">
                    <div class="d-flex justify-content-end align-items-center header_main">
                        <img src="../../assets/images/Shield Done_logo.png" alt="phone" width="24px" height="24px">
                        <span>
                            <a href="#assured">
                                <p class="top_header ">&nbsp; 100% Trust & Safe</p>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- navbar  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container">
       <a href="/"> <div class="d-flex justify-content-center" id="logo">
            <img src="../../assets/images/Logo-01 1.png" alt="logo">
        </div></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="nav-link active" aria-current="page" href="" id="home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#products">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- carousel  -->
<section class="banner">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/baneer1.png" class="d-block w-100" alt="banner1">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/banner.png" class="d-block w-100" alt="banner2">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/baneer1.png" class="d-block w-100" alt="banner3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- assured final  -->
<section class="assured_container" id="assured">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-12 col-lg-12">
                <div class="scrollable-container">
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/guaranteed.png"
                                alt="assured" width="36px" height="36px">
                            <p class="assured_para">Assured Lifetime Maintenance</p>
                        </a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/gold-ingots 1.png"
                                alt="assured" width="36px" height="36px">
                            <p class="assured_para">Purity 24k(999 Purity)</p>
                        </a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/asset.png" alt="assured"
                                width="36px" height="36px">
                            <p class="assured_para">Easy Exchange</p>
                        </a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/jewelry (8).png"
                                alt="assured" width="36px" height="36px">
                            <p class="assured_para">Your Jewellery is Insured</p>
                        </a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/calendar.png"
                                alt="assured" width="36px" height="36px">
                            <p class="assured_para">14 Days Return Policy</p>
                        </a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/transparency (2).png"
                                alt="assured" width="36px" height="36px">
                            <p class="assured_para">Complete Transparency</p>
                        </a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/safety.png" alt="assured"
                                width="36px" height="36px">
                            <p class="assured_para">Guaranteed Buyback</p>
                        </a>
                    </div>
                    <div class="assured">
                        <a href="" class="text-decoration-none"><img src="../../assets/images/security (3).png"
                                alt="assured" width="36px" height="36px">
                            <p class="assured_para">Security</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us  -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="about-maindiv" id="about">
                <p class="about_heading">About Us</p>
                <p class="about_para1">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy
                    that tells a captivating tale- Rose, is one of India’s leading luxury jewellery brands.</p>
                <p class="about_para2">ounded in 1981, the name “Rose” was chosen from the eponymous flower. It
                    signifies beauty, power, royalty and romance. Early on, the brand’s founders understood the value of
                    Indian craftsmanship and made it their mission to master and preserve it. Rose’s jewellery is the
                    perfect amalgamation of the rich design aesthetic of the East blended with the inventiveness of the
                    West.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container ">
        <div class="row ">
            <div class="col-lg-6 col-md-12 col-12 img_width100">
                <img src="../../assets/images/about_img_1.png" alt="about_img_1" class="about_img_1">
            </div>
            <div class="col-lg-6 col-md-12 col-12 about_marhin_top">
                <p class="about_img_heding">Designing fine jewellery is an art form</p>
                <p class="about_img_para1">It involves creating masterpieces that capture emotions, colours,
                    individual style and grandeur. Hundreds of man hours are invested into making one-of-a-kind
                    pieces, which are the ultimate display of admired techniques, painstaking finishing and gorgeous
                    design.</p>
                <p class="about_img_para1">Rose relies on nature’s rich bounty of diamonds and gemstones to bring to
                    life fine jewellery. The creations encapsulate exceptional precious stones of vibrant colours
                    and unique cuts, in signature combinations that have become synonymous with Rose’s artistry.
                    Every gem is hand-selected and consciously sourced paving the way for a sustainable future.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-12 col-12">
                <p class="about_img_heding">Legacy</p>
                <p class="about_img_para1">It involves creating masterpieces that capture emotions, colours,
                    individual style and grandeur. Hundreds of man hours are invested into making one-of-a-kind
                    pieces, which are the ultimate display of admired techniques, painstaking finishing and gorgeous
                    design.</p>
                <p class="about_img_para1">Rose relies on nature’s rich bounty of diamonds and gemstones to bring to
                    life fine jewellery. The creations encapsulate exceptional precious stones of vibrant colours
                    and unique cuts, in signature combinations that have become synonymous with Rose’s artistry.
                    Every gem is hand-selected and consciously sourced paving the way for a sustainable future.</p>
            </div>
            <div class="col-lg-6 col-md-12 col-12 img_width100">
                <img src="../../assets/images/about-img_ring.png" alt="about_img_2" class="about_img_2">
            </div>

        </div>
    </div>
</section>
<!-- products  -->
<section id="products">
    <div class="container">
        <div class="products_maindiv">
            <p class="products_heding">Products</p>
            <p class="products_paramain ">Exquisite design, distinguished craftsmanship, unparalleled luxury and a
                legacy that tells a captivating tale- Rose, is one of India’s leading luxury jewellery brands.</p>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="products_col6_maindiv"><img src="../../assets/images/Rectangle 2000.png" alt="product1"
                        class="product_img">
                    <p class="product_para">Ring</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="products_col6_maindiv"><img src="../../assets/images/Rectangle 2001.png" alt="product1"
                        class="product_img">
                    <p class="product_para">Chain</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="products_col6_maindiv"><img src="../../assets/images/Rectangle 2002.png" alt="product1"
                        class="product_img">
                    <p class="product_para">Necklace</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="products_col6_maindiv"><img src="../../assets/images/Rectangle 2003.png" alt="product1"
                        class="product_img">
                    <p class="product_para">Ear rings</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="products_col6_maindiv"><img src="../../assets/images/Rectangle 2004.png" alt="product1"
                        class="product_img">
                    <p class="product_para">Pendants</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="products_col6_maindiv"><img src="../../assets/images/Rectangle 2005 (1).png   "
                        alt="product1" class="product_img">
                    <p class="product_para">Bangles</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact us  -->
<section id="contact">
    <div class="container">
        <div class="products_maindiv">
            <p class="products_heding">Contact Us</p>
            <p class="products_paramain">Exquisite design, distinguished craftsmanship, unparalleled luxury and a legacy
                that tells a captivating tale- Rose, is one of India’s leading luxury jewellery brands.</p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card contact_maindiv border-0">
                    <img src="../../assets/images/phone contactus.png" alt="phonecontactus" class="contact_image">
                    <a href="tel:7645486421">
                        <p class="cno_img_name">+91 7645486421</p>
                    </a>
                    <p class="support_team">Support team will be available from
                        9:00 AM till 7:00 PM</p>
                    <p class="quick_call_contact2">Connect with our delight team over
                        a quick phone call</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card contact_maindiv border-0">
                    <img src="../../assets/images/mail.png" alt="phonecontactus" class="contact_image">
                    <a href="mailto:someone@example.com">
                        <p class="cno_img_name">bluejewellery@gmail.com</p>
                    </a>
                    <p class="quick_call">Your question or feedback are always
                        welcome at bluejewellery.com</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card contact_maindiv border-0">
                    <img src="../../assets/images/whatsapp.png" alt="phonecontactus" class="contact_image">
                    <a href="https://api.whatsapp.com/send?phone=15551234567">
                        <p class="cno_img_name">Whatsapp Us</p>
                    </a>
                    <p class="quick_call">Our 24x7 shopping assistant is a text
                        away</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card contact_maindiv border-0">
                    <img src="../../assets/images/location.png" alt="phonecontactus" class="contact_image">
                    <a
                        href="https://www.google.com/maps/place/Candere+By+Kalyan+Jewellers/@19.1896015,72.8390883,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7b6e31486ae1b:0x9130bb5e308a21d4!8m2!3d19.1895965!4d72.8416632!16s%2Fg%2F12hn7nbtb?entry=ttu">
                        <p class="cno_img_name">Address</p>
                    </a>
                    <a
                        href="https://www.google.com/maps/place/Candere+By+Kalyan+Jewellers/@19.1896015,72.8390883,17z/data=!3m1!4b1!4m6!3m5!1s0x3be7b6e31486ae1b:0x9130bb5e308a21d4!8m2!3d19.1895965!4d72.8416632!16s%2Fg%2F12hn7nbtb?entry=ttu">
                        <p class="quick_call">01-502, Om Shakti Samrat CHS Ltd., Plot No. 21, Shakti Nivas, , Malad
                            West,
                            Mumbai 400064, India.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- footer  -->
<section>
    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_logo">
                            <a href="/"> <img src="../../assets/images/Logo-01 1.png" alt="logo" id="logo"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5 col-12">
                        <div class="d-flex justify-content-evenly">
                            <a href="/" class="text-decoration-none">
                                <p class="footer_nav">Home</p>
                            </a>
                            <a href="#about" class="text-decoration-none">
                                <p class="footer_nav">About Us</p>
                            </a>
                            <a href="#products" class="text-decoration-none">
                                <p class="footer_nav">Products</p>
                            </a>
                            <a href="#contact" class="text-decoration-none">
                                <p class="footer_nav">Contact Us</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-12">
                        <div class="d-flex justify-content-center">
                            <p class="footer_nav">Follow Us:&nbsp;</p>
                            <div class="d-flex justify-content-evenly flex-fill follow_us_maindiv">
                                <div><a href="https://www.facebook.com/matrika.goldsikka">
                                        <img src="../../assets/images/facebook.png" alt="facebbok"
                                            class="footer_followus">
                                    </a></div>
                                <div><a href="https://www.instagram.com/matrika_goldsikka/">
                                        <img src="../../assets/images/insta.png" alt="insta" class="footer_followus">
                                    </a></div>
                                <div><a href="https://x.com/i/flow/login?redirect_after_login=%2Fmatrika_gs">
                                        <img src="../../assets/images/vecteezy_x-new-twitter-logo_34800663 1.png"
                                            alt="twitter" class="footer_followus">
                                    </a></div>
                                <div><a href="https://www.youtube.com/@matrika_goldsikka">
                                        <img src="../../assets/images/youtub.png" alt="youtube" class="footer_followus">
                                    </a></div>
                                <div> <a href="https://www.linkedin.com/company/goldsikkalimited/">
                                        <img src="../../assets/images/linkdin.png" alt="linkedin"
                                            class="footer_followus">
                                    </a></div>
                                <div> <a href="https://in.pinterest.com/matrika_goldsikka/">
                                        <img src="../../assets/images/pet.png" alt="pet" class="footer_followus">
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- display only at 320px  -->
            <div class="container display_none2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row d-flex flex-row">
                            <div class="col-md-6 col-12">
                                <div class="d-flex flex-row justify-content-evenly align-items-center">
                                    <div>
                                        <h6 class="footer_nav1">we accept:</h6>
                                    </div>
                                    <div><img src="../../assets/images/visa.svg.png" alt="visa" class="visa"></div>
                                    <div><img src="../../assets/images/master_card.svg.png" alt="visa" class="master">
                                    </div>
                                    <div><img src="../../assets/images/paytm.svg.png" alt="visa" class="paytm">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 d-flex justify-content-evenly mt-4">

                                <div><img src="../../assets/images/rupay.svg.png" alt="visa" class="rupay">
                                </div>
                                <div><img src="../../assets/images/cod.svg.png" alt="visa" class="cod">
                                </div>
                                <div><img src="../../assets/images/paypal.svg.png" alt="visa" class="paypal">
                                </div>
                                <div><img src="../../assets/images/american_express.svg.png" alt="visa"
                                        class="american_express">

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>
            <!-- display on 320px to 1440px only  -->
            <div class="container">
                <div class="row footer_space_bottom">
                    <div class="col-md-6 col-12 display_none1">
                        <div class="d-flex">
                            <p class="footer_nav">We Accept:&nbsp;</p>
                            <div class="payments d-flex flex-fill justify-content-between align-items-center">
                                <img src="../../assets/images/visa.svg.png" alt="visa" class="visa">
                                <img src="../../assets/images/master_card.svg.png" alt="visa" class="master">
                                <img src="../../assets/images/paytm.svg.png" alt="visa" class="paytm">
                                <img src="../../assets/images/rupay.svg.png" alt="visa" class="rupay">
                                <img src="../../assets/images/cod.svg.png" alt="visa" class="cod">
                                <img src="../../assets/images/paypal.svg.png" alt="visa" class="paypal">
                                <img src="../../assets/images/american_express.svg.png" alt="visa"
                                    class="american_express">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 display_start">
                        <p class="designed_by">2023-2024 bluejewellery.Design by: <span><a href="https://xyug.in/"
                                    class="xyug"> X-YUG Technologies</a></span></p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</section>